<!--Navbar-->
<nav class="navbar navbar-light">

  <!-- Navbar brand -->
  <a class="navbar-brand nav-top" href="?pagina=home&metodo=index"><img src="public/img/logo-iemci.png" width="30"
    height="30">Gestão de Equipamentos</a>

  <!-- Collapse button -->
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span><i
        class="fas fa-bars fa-1x"></i></span></button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent1">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Minha Conta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="?pagina=usuario&metodo=informacaoDaConta">Usuários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="?pagina=home&metodo=logout">Sair</a>
      </li>
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->


<div class="container">

  <div class="row row-home">
    <div class="col-lg-6" style="text-align: left;">
      <h3 class="btn-new">Equipamentos Cadastrados</h3>
    </div>

    <div class="col-lg-6" style="text-align: right;">
      <button class="btn btn-success btn-new-hardware" data-toggle="modal" data-target="#modalNewHardware">Cadastrar
        Novo</button>
    </div>
  </div>

  {% if equipamentos == false %}
  <div class="alert alert-warning alert-registro" role="alert">
    Nenhum registro encontrado
  </div>

  {% endif %}   
  <table class="table table-striped ">
    <thead class="thead-table">
      <tr>
        <th scope="col">Modelo</th>
        <th scope="col">Serial</th>
        <th scope="col">Departamento</th>
        <th scope="col">Categoria</th>
        <th>Data Cadastro</th>
      </tr>
    </thead>

    {% for equipamento in equipamentos %}
    <tbody>
      
      <tr>
        <td><a class="alert-link"
            href="?pagina=equipamento&metodo=viewEquipamento&id={{equipamento.id}}">{{equipamento.modelo}}</a></td>
        <td>{{equipamento.num_serial}}</td>
        <td>{{equipamento.departamento}}</td>
        <td>{{equipamento.categoria}}</td>
        <td>{{equipamento.data_cadastro|date("d-M-Y")}}</td>
      </tr>

      {% endfor %} 
    </tbody>
  </table>




  <!-- Modal Inserir Equipamento-->
  <div class="modal fade" id="modalNewHardware" tabindex="-1" role="dialog" aria-labelledby="modalNewHardwareLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalNewHardwareLabel">Cadastrar Novo Equipamento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form method="POST" action="?pagina=equipamento&metodo=addEquipamento">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Modelo*</label>
              <div class="col-sm-10">
                <input name="modelo" type="text" class="form-control" id="modelo"
                  placeholder="Ex: Dell Inpiron 15 3000" required>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Detalhes</label>
              <div class="col-sm-10">
                <textarea name="detalhes" class="form-control" id="detalhe"
                  placeholder="Ex: RAM de 8 GB, processador Intel Core i7 e armazenamento em HD 500 GB"></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Serial</label>
              <div class="col-sm-10">
                <input name="num_serial" type="text" class="form-control" id="serial"
                  placeholder="Ex: 001100110011">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Patrimônio Público*</label>
              <div class="col-sm-10">
                <input name="num_patrimonio" type="text" class="form-control" id="num_patrimonio"
                  placeholder="Ex: ABC123" required>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Departamento*</label>
              <div class="col-sm-10">
                <input name="departamento" type="text" class="form-control" id="departamento"
                  placeholder="Ex: Sala CGPA" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <label>Categoria*</label>
                <select id="categoria" name="categoria" class="form-control" required>
                  <option selected value="">Selecione</option>
                  <option value="Desktop">Desktop</option>
                  <option value="Notebook">Notebook</option>
                  <option value="Equipamento">Equipamento</option>
                </select>
              </div>
            </div>

            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <input type="submit" value="Salvar" class="btn btn-primary">



          </form>

        </div>

      </div>
    </div>
  </div>
</div>