
nav{
    background-color: #03A6A6;
    color:white!important;
}

.navbar-brand{
    color:white!important;
}

.navbar-toggler{
    color: white!important;
}


.logout{
    font-size: 20px;
}

.row-home{
margin-top: 25px;
}

ul, li{
    text-decoration: none;
}

.btn-new-hardware{
    margin: 20px;
}

table{
    margin-top: 30px;
}

.thead-table{
    background-color: #03A6A6;
    color: white;
}

.det-equi{
    margin-top: 5%;
    padding: 10px;
    justify-content: center;
    background-color: #03A6A6;
    color: white;
}

.alert-registro{
    margin-bottom: 5%;
}

.card-login{
    padding: 40px;  
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    
}

.card-header-login{
    text-align: center;
    background-color: white;
    padding-bottom: 15px;
    
}

.logo{
    height: 150px;
    width: 150px;
}

.section-login{
    height: 100vh;
    background-image: linear-gradient(to right top, #292c4c, #2d365c, #2e416c, #2d4c7d, #29588e, #2369a0, #187bb2, #008dc3, #00a9d5, #00c5e3, #2be0ec, #5ffbf1);
    background-repeat: repeat-y;
}

.msg-error{
    color: red;
    padding-bottom: 30px;
    text-align: center;

}




